* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background: #000;
    color: #fff;
}

main .title {
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-controler {
    display: flex;
    margin: 1rem;
    gap: 1rem;
    align-items: center;
}

.form-controler label {
    font-size: 15px;
}

.form-controler input {
    padding: 0.5rem;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
}

.casillasMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.casilla {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 0.5rem;
    text-align: center;
}

.boton {
    display: none;
}

.boton button {
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.boton button:hover {
    background: #ccc;
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

td, th {
    border: 1px solid wheat;
    padding: 10px;
    text-align: center;
}
